{% extends 'base.html'%} {% block content%}

<div class="container">
    <div class="">
        <div class="">
            <h1>Fale conosco</h1>
            <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes socias, abaixo seguem os links para contato
            </p>
            <h4>Links</h4>
            <ul>
                <li>E-mail:
                    <a href="mailto:gilbertomorais@morais.com">gilbertomorais@morais.com</a>
                </li>
                <li>Instagram
                    <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{%endblock%}